.pricebody {
    margin: 80px 80px 80px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
    color: #796C6F;
    font-size: 18px;
  }

  #cf {
    position:relative;
    height:80px;
    width:160px;
    margin:0 auto;
  }
  
  #cf img {
    position:absolute;
    right:0;
    align-content: right;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }
  #cf2 {
    position:relative;
    height:120px;
    width:266px;
    margin:0 auto;
  }

  #cf2 img {
    position:absolute;
    align-content: right;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf2 img.top:hover {
    opacity:0;
  }